html, body {
    margin: 0;
    padding: 0;
} 

h2 {
    margin: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Top */

nav {
    display: flex;
    justify-content:space-between;
    background-color: #2C2F32;
    padding: 3.5em 2.5em;

}

#main-nav a {
    text-decoration: none;
    color: white;
    background-color: #696c6e;
}

#main-nav a:hover {
    color:black;
    background-color: azure;
}

/* Main */

.recently_listened {
    padding: 0 2.5em;
}

.album__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.album {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.album img {
    height: 50%;
    width: 50%;
}

.media {
    padding: 0 2.5em;
}

.media__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.media_item img {
    max-width: 240px;
    max-height: 240px;
    object-fit: cover;
}

section {
    background-color: #696c6e;
    color: azure;
}